<div class="page">
	<div class="page-box">

	<%# User banner, avatar, description %>
		<div class="user-banner" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0)), url(<%= cl_image_path @user.photos.second.key, height: 400, width: 1200, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
			<div class="user-banner-items">
				<%= cl_image_tag @user.photos.first.key, height: 100, width: 100, crop: :fill, class: "user-avatar" %>
				<div class="user-banner-text ml-3">
					<h1><span class="maize-text"><%= @user.nickname %>'s</span> <span class="ivory-text">Profile</span></h1>
					<p><span class="ivory-text"><%= @user.gender %>, 30 years old</span></p>
					<p><span class="ivory-text"><%= @user.description %></span></p>
					<% if current_user == @user %>
					<%= link_to "Edit", "#", class: 'btn btn-primary'  %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="user-sections">
			<%# -----------------User Dashboard--------------- %>
			<% if current_user == @user %>
				<div class="events">
					<h3>My Events</h3>
					<div class="user-box">

						<% if @current_enrollments.any? %>
							<%  @current_enrollments.each do |enrollment| %>
								<%= link_to organization_path(enrollment.event.organization) do %>
                  <li class="ivory-card">
  									<div class="ivory-card-contents">
  										<div class="ivory-card-pic" style="background-image: url(<%= cl_image_path enrollment.event.photo.key, height: 300, width: 400, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
  										</div>
  										<h5><%= enrollment.event.title.truncate(25, separator: ' ') %> with <%= enrollment.event.organization.name %></h5>
  										<% if enrollment.event.description %>
  											<p><%= enrollment.event.description.truncate(50, separator: ' ') %></p>
  										<% end %>
  										<h6 class='status-badge-<%=enrollment.status%>'><%=enrollment.status%></h6>
  									</div>
  								</li>
                <% end %>
							<% end %>
						<% else %>
							<p>None yet! <%= link_to "Find an organization?", map_path %></p>
						<% end %>
					</div>
				</div>
			<% end %>
			</div>

			<div class="user-profile">
			<%# -------------Organizations------------------%>
				<div class="organizations">
				<% if current_user == @user %>
					<h3>My Organizations</h3>
				<% else %>
					<h3><%= @user.nickname %>'s Organizations</h3>
				<% end %>
						<div class="user-box">
							<% @user.organizations.each do |organization| %>
                <%= link_to organization_path(organization) do %>
  								<li class="ivory-card">
  								<div class="ivory-card-contents">
  									<div class="ivory-card-pic" style="background-image: url(<%= cl_image_path organization.photos.first.key, height: 300, width: 400, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
  									</div>
  									<h5><%= organization.name %></h5>
  									<h6><%= organization.tag_list %></h6>
  										<p><%= organization.description.truncate(90, separator: ' ') %></p>
  								</div>
  							</li>
                <% end %>
							<% end %>
						</div>
				</div>
				<div class="history">
					<h3>Volunteering History</h3>
					<div class="user-box" id="history-box">
						<% if @past_enrollments.any? %>
							<% @past_enrollments.each do |enrollment| %>
                <%= link_to organization_path(enrollment.event.organization) do %>
  								<li class="ivory-card">
  									<div class="ivory-card-contents">
  										<div class="ivory-card-pic" style="background-image: url(<%= cl_image_path enrollment.event.photo.key, height: 300, width: 400, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
  										</div>
  										<h5><%= enrollment.event.title %> with <%= enrollment.event.organization.name %></h5>
  										<% if enrollment.event.description %>
  											<p><%= enrollment.event.description.truncate(50, separator: ' ') %></p>
  										<% end %>
  									</div>
  								</li>
                <% end %>
							<% end %>
						<% else %>
							<p>None yet!</p>
						<% end %>
					</div>
				</div>
				<%# Interests etc. %>
				<%# <div class="interests"></div> %>
				<%# <div class="badges"></div> %>
				</div>
			</div>
		</div>
	</div>
</div>
