<div class="page">
	<div class="page-box">

	<%# User banner %>
		<div class="user-banner" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0)), url(<%= cl_image_path @user.photos.second.key, height: 400, width: 1200, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
			<div class="user-banner-items">
				<%= cl_image_tag User.first.photos.first.key, height: 100, width: 100, crop: :fill, class: "user-avatar" %>
				<div class="user-banner-text ml-3">
					<h1><span class="maize-text"><%= @user.nickname %>'s</span> Profile</h1>
					<p><span class="ivory-text"><%= @user.description %></span></p>
					<div class="btn btn-primary">A button</div>
				</div>
			</div>
		</div>

		<div class="user-sections">
			<%# User Dashboard %>
			<div class="user-dashboard">
				<div class="upcoming-events">
					<h3>Upcoming Events</h3>
					<div class="user-box"></div>
				</div>

        <% if current_user.events_as_owner.any? %>
  				<div class="pending-events">
  					<h3>Pending Enrollments</h3>
  					<div class="user-box"></div>
  				</div>
        <% end %>

			</div>

			<div class="user-profile">
			<%# Volunteering History %>
				<div class="organizations">
					<h3>My Organizations</h3>
						<div class="user-box"></div>
				</div>
				<div class="history">
					<h3>Volunteering History</h3>
					<div class="user-box" id="history-box">
						<% @user.events_as_owner.each do |event| %>
							<li class="history-card">
								<div class="history-card-contents">
									<div class="event-pic" style="background-image: url(<%= cl_image_path Event.first.photo.key, height: 300, width: 400, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
									</div>
									<h5><%= event.title %> with <%= link_to event.organization.name, organization_path(event.organization) %></h5>
									<% if event.description %>
										<p><%= event.description.truncate(50, separator: ' ') %></p>
									<% end %>
									<p><%= event.start_time %></p>
								</div>
							</li>
						<% end %>
					</div>
				</div>
				<%# Interests etc. %>
				<%# <div class="interests"></div> %>
				<%# <div class="badges"></div> %>
			</div>
		</div>
	</div>
</div>
