<div class="page">
	<div class="page-box">

	<%# User banner %>
		<div class="user-banner">
			<%= cl_image_tag User.first.photos.second.key, height: 400, width: 800, crop: :fill, class: "user-banner-image" %>
			<%= cl_image_tag User.first.photos.first.key, height: 100, width: 100, crop: :fill, class: "user-avatar" %>
			<div class="user-banner-text">
				<h1><span class="maize-text"><%= @user.nickname %>'s</span> Profile</h1>
				<p><%= @user.description %></p>
				<div class="btn btn-primary">A button</div>
			</div>
		</div>

		<div class="user-sections">
			<%# User Dashboard %>
			<div class="user-dashboard">
				<div class="upcoming-events">
					<h3>Upcoming Events</h3>
					<div class="user-box"></div>
				</div>

        <% if current_user.events_as_owner.any? %>
  				<div class="pending-events">
  					<h3>Pending Enrollments</h3>
  					<div class="user-box"></div>
  				</div>
        <% end %>

			</div>

			<div class="user-profile">
			<%# Volunteering History %>
				<div class="organizations">
					<h3>My Organizations</h3>
				</div>
				<div class="history">
					<h3>Volunteering History</h3>
					<div class="user-box">
						<% @user.events_as_owner.each do |event| %>
							<li>
							<%= cl_image_tag Event.first.photo.key, height: 300, width: 400, crop: :fill %>
							<h6><%= event.title %> with <%= event.organization.name %></h6>
							<% if event.description %>
								<p><%= event.description.truncate(50, separator: ' ') %></p>
							<% end %>
							</li>
						<% end %>
					</div>
				</div>
				<%# Interests etc. %>
				<%# <div class="interests"></div> %>
				<%# <div class="badges"></div> %>
			</div>
		</div>
	</div>
</div>
