<% @organizations = Organization.all.where(description:"....") %>
<div class="page">

	<div class="page-box">
	<%# User banner, avatar, description %>
		<div class="user-banner" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @user.photos.second.key, height: 200, width: 1200, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
			<div class="user-banner-items">
        <div class="d-flex align-items-center mr-5">
    			<%= cl_image_tag @user.photos.first.key, height: 100, width: 100, crop: :fill, class: "user-avatar" %>
          <h1 class="ml-3"><span class="maize-text"><%= @user.nickname %>'s</span> <span class="ivory-text">Profile</span></h1>
        </div>
        <div class="user-banner-text ml-3">
          <div class='banner-headers d-flex justify-content-between'>
              <div class="numbers">
                <h1>126</h1>
                <h5>Items Donated</h5>
              </div>
              <div class="numbers">
                <h1>38</h1>
                <h5>Projects Funded</h5>
              </div>
              <div class="numbers">
                <h1>12</h1>
                <h5>Volunteer Events</h5>
              </div>
          </div>
        </div>
			</div>
		</div>

		<div class="user-sections">
			<%# -----------------User Dashboard--------------- %>


<div class="profile-mid d-flex m-3">
  <div class="bio">
      <!--------------------------BIO-------------------->
    <div>
      <h4>About Me</h4>
      <p><span><%= @user.gender.capitalize %>, 27 years old</span></p>
      <p><span><%= @user.description %></span></p>
    </div>
    <!--------------------------FRIENDS------------------------------>
    <% @users = [User.find_by(first_name: "Doug"), User.find_by(first_name: "Taku"), User.find_by(first_name: "jess"), User.find_by(first_name: "Alex")] %>

    <div>
			<div class="my-4">
				<div class="d-flex align-items-center justify-content-between">
					<h4>Friends</h4>
					<p><%= link_to "View all", "#"  %></p>
				</div>
				<div>
					<% @users.each do |user| %>
            <%= cl_image_tag user.photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
          <% end %>
				</div>
			</div>
      <!----------------------CONTRIBUTIONS ------------------------>
      <div>
				<div class="d-flex align-items-center justify-content-between">
					<h4>Supported</h4>
					<p><%= link_to "View all", "#"  %></p>
				</div>
				<div>
					<% @organizations[1..4].each do |organization| %>
						<%= cl_image_tag organization.photos.first.key, height: 80, width: 80, crop: :fill, class: "avatar"%>
					<% end %>
				</div>
			</div>
    </div>
  </div>
    <!-------------------------FEED------------------------>
  <div class='feed mx-3'>
      <h4 class='feed-title'><%= @user.nickname %>'s Feed</h4>
      <div class="feed-scroll">

        <% if @user.last_name.nil? %>
        <div class="feed-comment my-2">
          <div class="feed-comment-content">
            <div class="d-flex align-items-center ">
							<%= cl_image_tag Organization.all[-5].photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
							<div class="ml-2"><h5>Colabo</h5></div>
							<div>
								<p class='ml-3 pb-1'>Thank you so much for the blankets, Liz! They're going to a good cause.</p>
							</div>
            </div>
						<div class="pb-3">
							<img src=https://cdn2.creativecirclemedia.com/ptleader/original/20181126-222144-25178be8b550118fe3b27f41b6b7a6b0.jpg style="width: 530px" alt="">
						</div>
          </div>
        </div>

        <% else %>

        <div class="feed-comment my-2">
          <div class="feed-comment-content">
            <div class="d-flex align-items-center ">
              <%= cl_image_tag Organization.find_by(name: "Colabo").photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
              <div class="ml-2"><h5>Colabo</h5></div>
              <div>
                  <p class='ml-3 pb1'>Mitsuki really enjoyed your blanket!.</p>
              </div>
           </div>
           <div class="d-flex align-items-center">
							<img src=https://media.pri.org/s3fs-public/styles/open_graph/public/japan-tsunami-aid-effort-2011-03-17.jpg?itok=F3RNopiP style="width: 530px" alt="">
						</div>
          </div>
        </div>

        <% end %>

				<div class="feed-comment my-2">
          <div class="feed-comment-content flex-box">
						<div class="d-flex align-items-center mb-2">
							<%= cl_image_tag Organization.find_by(name: "World Wildlife Day ").photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
							<div class="ml-2"><h5>World Wildlife Day</h5></div>
							<div>
								<p class='ml-3 p-1'>The dog you saved had puppies!</p>
							</div>
            </div>
						<div class="pb-3">
							<img src="https://static.fox29.com/www.fox29.com/content/uploads/2019/06/PSPCA_dog_generic_01.jpg" style="width: 530px" alt="">
						</div>
          </div>
        </div>

        <div class="feed-comment my-2">
          <div class="feed-comment-content flex-box">
						<div class="d-flex align-items-center mb-2">
							<%= cl_image_tag Organization.find_by(name: "Mirai no Mori").photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
							<div class="ml-2"><h5>Mirai no Mori</h5></div>
							<div>
								<p class='ml-3 p-1'>Thanks for helping out!</p>
							</div>
            </div>
						<div class="pb-3 user-page-pics">
							<img src="https://resources.realestate.co.jp/wp-content/uploads/2020/01/volunteering-tokyo-park-cleanup-1020x500.jpg" style="width: 530px" alt="">
						</div>
					</div>
        </div>

        <div class="feed-comment">
          <div class="feed-comment-content flex-box p-2 mb-2">
						<div class="d-flex align-items-center ml-3">
							<%= cl_image_tag Organization.all[-4].photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
							<div class="ml-2"><h5>Seigo</h5></div>
							<div>
								<p class='ml-3 p-3'>Thanks for helping out!</p>
							</div>
            </div>
					</div>
        </div>
      </div>
  </div>


  <div class='contributed'>
      <h4>Upcomming Events</h4>
    <div class='contributed-scroll'>
      <div>

          <div class="upcomming">
            <% current_user.events_as_owner.sort_by{|event| event.created_at}.reverse.each do |event| %>


            <div class="upcomming-card">
                <div class="upcomming-card-contents">
                  <%= link_to event_path(event) do  %>
                    <div class="upcomming-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo.key, height: 240, width: 360, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
                      <h4><%= event.title %></h4>
                    </div>
                    <div class="card-info">
                      <p><i class="far fa-calendar-alt"></i> <%= event.start_time.strftime("%d of %B, %Y") %></p>
                      <p><i class="far fa-clock"></i> <%= event.start_time.strftime("%I:%M %p")%> - <%= event.end_time.strftime("%I:%M %p")%></p>
                      <%# status badge!! %>
                      <%# status badge!! %>
                      <br>
                  </div>
                  <% end %>
                </div>
            </div>


            <% end %>
            <% if @current_enrollments.any? %>

              <%  @current_enrollments.each do |enrollment| %>
                <% if enrollment.event.category == "Volunteer" %>
                  <div class="upcomming-card">
                    <div class="upcomming-card-contents">
                      <%= link_to event_path(enrollment.event) do  %>
                        <div class="upcomming-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 240, width: 360, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
                          <h4><%= enrollment.event.title %></h4>
                        </div>
                        <div class="card-info">
                          <p><i class="far fa-calendar-alt"></i> <%= enrollment.event.start_time.strftime("%d of %B, %Y") %></p>
                          <p><i class="far fa-clock"></i> <%= enrollment.event.start_time.strftime("%I:%M %p")%> - <%= enrollment.event.end_time.strftime("%I:%M %p")%></p>
                          <p>Volunteers: <%= enrollment.event.enrollments.where(status: "Approved").count %>/<%= enrollment.event.target %> people</p>
                          <%# status badge!! %>
                          <h6 class='status-badge-<%=enrollment.status%>'><%=enrollment.status%></h6>
                          <%# status badge!! %>
                          <div>
                            <% enrollment.event.enrollments.where(status: "Approved").each do |enrollment| %>
                              <%= link_to user_path(enrollment.user) do %>
                                <%= cl_image_tag enrollment.user.photos.first.key, height: 40, width: 40, crop: :fill , class: "avatar-sm"%>
                              <% end %>
                            <% end %>
                          </div>
                          <br>

                      </div>
                      <% end %>
                    </div>
                  </div>
                <% elsif enrollment.event.category == "Donation" %>
                  <li class="event-card">
                    <div class="event-card-contents">
                      <%= link_to event_path(enrollment.event) do  %>
                        <div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
                          <h4><%= enrollment.event.title %></h4>
                        </div>
                        <div class="card-info">
                          <h5><span class="seaweed-text font-weight-bold"><%= (Date.today...event.end_time).count %> days left</span></h5>
                          <p><i class="fas fa-bullseye"></i> <%= enrollment.event.target %> <%= enrollment.event.item %></p>
                          <p><i class="fas fa-signal"></i> <%= (enrollment.event.raised.to_f / enrollment.event.target.to_f * 100).to_i %>% collected</p>

                          <div class="card-meter mt-2">
                            <% if enrollment.event.raised.nil? %>
                              <span style="width:0%;"><span class="card-progress"></span></span>
                            <% else %>
                              <% if enrollment.event.category == "Volunteer" %>
                                <% raised_amount = ((enrollment.event.enrollments.where(status: "Approved").count.to_f / enrollment.event.target.to_f) * 100).to_i %>
                              <% else %>
                                <% raised_amount = ((enrollment.event.raised.to_f / enrollment.event.target.to_f) * 100).to_i %>
                              <% end %>
                                <span style="width:<%= raised_amount %>%;"><span class="card-progress"></span></span>
                            <% end %>
                            <%# status badge!! %>
                            <h6 class='status-badge-<%=enrollment.status%>'><%=enrollment.status%></h6>
                            <%# status badge!! %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </li>
                <% elsif enrollment.event.category == "Fundraiser" %>
                  <li class="event-card">
                    <div class="event-card-contents">
                      <%= link_to event_path(enrollment.event) do  %>
                        <div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
                          <h4><%= enrollment.event.title %></h4>
                        </div>
                        <div class="card-info">
                          <h5><span class="seaweed-text font-weight-bold"><%= (Date.today...enrollment.event.end_time).count %> days left</span></h5>
                          <p><i class="fas fa-hand-holding-usd"></i> <%= humanized_money_with_symbol(enrollment.event.raised) %> / <%= humanized_money_with_symbol(enrollment.event.target) %></p>
                          <p><i class="fas fa-signal"></i> <%= (enrollment.event.raised.to_f / enrollment.event.target.to_f * 100).to_i %>% collected</p>

                          <div class="card-meter mt-2">
                            <% if enrollment.event.raised.nil? %>
                              <span style="width:0%;"><span class="card-progress"></span></span>
                            <% else %>
                              <% if enrollment.event.category == "Volunteer" %>
                                <% raised_amount = ((enrollment.event.enrollments.where(status: "Approved").count.to_f / enrollment.event.target.to_f) * 100).to_i %>
                              <% else %>
                                <% raised_amount = ((enrollment.event.raised.to_f / enrollment.event.target.to_f) * 100).to_i %>
                              <% end %>
                                <span style="width:<%= raised_amount %>%;"><span class="card-progress"></span></span>
                            <% end %>
                            <%# status badge!! %>
                            <h6 class='status-badge-<%=enrollment.status%>'><%=enrollment.status%></h6>
                            <%# status badge!! %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% else %>
              <p>None yet! <%= link_to "Find an organization?", map_path %></p>
            <% end %>
          </div>


      </div>
    </div>
  </div>
</div>

<!------------------------------BADGE--------------------------------->
  <h3 class="pl-3">Badges</h3>
  <div class='user-page-box mx-3'>

    <div class="d-flex justify-content-around">
      <%= image_tag "b-1.png", class: "badges" %>
      <%= image_tag "b-2.png", class: "badges" %>
      <%= image_tag "b-3.png", class: "badges" %>
      <%= image_tag "b-4.png", class: "badges" %>
      <%= image_tag "b-5.png", class: "badges" %>
      <%= image_tag "b-6.png", class: "badges" %>
    </div>
  </div>
<!------------------------------ORIGINAL DASHBOARD--------------------------------->
			<% if current_user == @user %>
				<div class="events px-3">
					<h3>My Events</h3>
					<div class="user-box">

						<% if @current_enrollments.any? %>
							<%  @current_enrollments.each do |enrollment| %>
								<% if enrollment.event.category == "Volunteer" %>
									<li class="event-card">
										<div class="event-card-contents">
											<%= link_to event_path(enrollment.event) do  %>
												<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 240, width: 360, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
													<h4><%= enrollment.event.title %></h4>
												</div>
												<div class="card-info">
													<p><i class="far fa-calendar-alt"></i> <%= enrollment.event.start_time.strftime("%d of %B, %Y") %></p>
													<p><i class="far fa-clock"></i> <%= enrollment.event.start_time.strftime("%I:%M %p")%> - <%= enrollment.event.end_time.strftime("%I:%M %p")%></p>
													<p>Volunteers: <%= enrollment.event.enrollments.where(status: "Approved").count %>/<%= enrollment.event.target %> people</p>
													<%# status badge!! %>
													<h6 class='status-badge-<%=enrollment.status%>'><%=enrollment.status%></h6>
													<%# status badge!! %>
													<div>
														<% enrollment.event.enrollments.where(status: "Approved").each do |enrollment| %>
															<%= link_to user_path(enrollment.user) do %>
																<%= cl_image_tag enrollment.user.photos.first.key, height: 40, width: 40, crop: :fill , class: "avatar-sm"%>
															<% end %>
														<% end %>
													</div>
													<br>

											</div>
											<% end %>
										</div>
									</li>
								<% elsif enrollment.event.category == "Donation" %>
									<li class="event-card">
										<div class="event-card-contents">
											<%= link_to event_path(enrollment.event) do  %>
												<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
													<h4><%= enrollment.event.title %></h4>
												</div>
												<div class="card-info">
													<h5><span class="seaweed-text font-weight-bold"><%= (Date.today...event.end_time).count %> days left</span></h5>
													<p><i class="fas fa-bullseye"></i> <%= enrollment.event.target %> <%= enrollment.event.item %></p>
													<p><i class="fas fa-signal"></i> <%= (enrollment.event.raised.to_f / enrollment.event.target.to_f * 100).to_i %>% collected</p>

													<div class="card-meter mt-2">
														<% if enrollment.event.raised.nil? %>
															<span style="width:0%;"><span class="card-progress"></span></span>
														<% else %>
															<% if enrollment.event.category == "Volunteer" %>
																<% raised_amount = ((enrollment.event.enrollments.where(status: "Approved").count.to_f / enrollment.event.target.to_f) * 100).to_i %>
															<% else %>
																<% raised_amount = ((enrollment.event.raised.to_f / enrollment.event.target.to_f) * 100).to_i %>
															<% end %>
																<span style="width:<%= raised_amount %>%;"><span class="card-progress"></span></span>
														<% end %>
														<%# status badge!! %>
														<h6 class='status-badge-<%=enrollment.status%>'><%=enrollment.status%></h6>
														<%# status badge!! %>
													</div>
												</div>
											<% end %>
										</div>
									</li>
								<% elsif enrollment.event.category == "Fundraiser" %>
									<li class="event-card">
										<div class="event-card-contents">
											<%= link_to event_path(enrollment.event) do  %>
												<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
													<h4><%= enrollment.event.title %></h4>
												</div>
												<div class="card-info">
													<h5><span class="seaweed-text font-weight-bold"><%= (Date.today...enrollment.event.end_time).count %> days left</span></h5>
													<p><i class="fas fa-hand-holding-usd"></i> <%= humanized_money_with_symbol(enrollment.event.raised) %> / <%= humanized_money_with_symbol(enrollment.event.target) %></p>
													<p><i class="fas fa-signal"></i> <%= (enrollment.event.raised.to_f / enrollment.event.target.to_f * 100).to_i %>% collected</p>

													<div class="card-meter mt-2">
														<% if enrollment.event.raised.nil? %>
															<span style="width:0%;"><span class="card-progress"></span></span>
														<% else %>
															<% if enrollment.event.category == "Volunteer" %>
																<% raised_amount = ((enrollment.event.enrollments.where(status: "Approved").count.to_f / enrollment.event.target.to_f) * 100).to_i %>
															<% else %>
																<% raised_amount = ((enrollment.event.raised.to_f / enrollment.event.target.to_f) * 100).to_i %>
															<% end %>
																<span style="width:<%= raised_amount %>%;"><span class="card-progress"></span></span>
														<% end %>
														<%# status badge!! %>
														<h6 class='status-badge-<%=enrollment.status%>'><%=enrollment.status%></h6>
														<%# status badge!! %>
													</div>
												</div>
											<% end %>
										</div>
									</li>
								<% end %>
							<% end %>
						<% else %>
							<p>None yet! <%= link_to "Find an organization?", map_path %></p>
						<% end %>
					</div>
				</div>
			<% end %>
			</div>

			<div class="user-profile px-3">
			<%# -------------Organizations------------------%>
				<div class="organizations-history">
					<% if current_user == @user %>
						<h3>My Organizations</h3>
					<% else %>
						<h3><%= @user.nickname %>'s Organizations</h3>
					<% end %>
						<div class="user-box">
							<% @user.organizations.each do |organization| %>
								<li class="event-card">
									<div class="event-card-contents">
										<%= link_to organization_path(organization) do  %>
											<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path organization.photos.first.key, height: 240, width: 360, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
												<h4><%= organization.name %></h4>
											</div>
											<div class="card-info">
												<h6><%= organization.tag_list %></h6>
												<p><%= organization.description.truncate(90, separator: ' ') %></p>
											</div>
										<% end %>
									</div>
								</li>
							<% end %>
						</div>
				</div>

				<div class="organizations-history">
					<h3>Volunteering History</h3>
					<div class="user-box" id="history-box">
						<% if @past_enrollments.any? %>
							<% @past_enrollments.each do |enrollment| %>
								<% if enrollment.event.category == "Volunteer" %>
									<li class="event-card">
										<div class="event-card-contents">
											<%= link_to event_path(enrollment.event) do  %>
												<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 240, width: 360, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
													<h4><%= enrollment.event.title %></h4>
												</div>
												<div class="card-info">
													<p><i class="far fa-calendar-alt"></i> <%= enrollment.event.start_time.strftime("%d of %B, %Y") %></p>
													<p><i class="far fa-clock"></i> <%= enrollment.event.start_time.strftime("%I:%M %p")%> - <%= enrollment.event.end_time.strftime("%I:%M %p")%></p>
													<p>Volunteers: <%= enrollment.event.enrollments.where(status: "Approved").count %>/<%= enrollment.event.target %> people</p>
													<div>
														<% enrollment.event.enrollments.where(status: "Approved").each do |enrollment| %>
															<%= link_to user_path(enrollment.user) do %>
																<%= cl_image_tag enrollment.user.photos.first.key, height: 40, width: 40, crop: :fill , class: "avatar-sm"%>
															<% end %>
														<% end %>
													</div>
													<br>
											</div>
											<% end %>
										</div>
									</li>
								<% elsif enrollment.event.category == "Donation" %>
									<li class="event-card">
										<div class="event-card-contents">
											<%= link_to event_path(enrollment.event) do  %>
												<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
													<h4><%= enrollment.event.title %></h4>
												</div>
												<div class="card-info">
													<h5><span class="seaweed-text font-weight-bold"><%= (Date.today...event.end_time).count %> days left</span></h5>
													<p><i class="fas fa-bullseye"></i> <%= enrollment.event.target %> <%= enrollment.event.item %></p>
													<p><i class="fas fa-signal"></i> <%= (enrollment.event.raised.to_f / enrollment.event.target.to_f * 100).to_i %>% collected</p>

													<div class="card-meter mt-2">
														<% if enrollment.event.raised.nil? %>
															<span style="width:0%;"><span class="card-progress"></span></span>
														<% else %>
															<% if enrollment.event.category == "Volunteer" %>
																<% raised_amount = ((enrollment.event.enrollments.where(status: "Approved").count.to_f / enrollment.event.target.to_f) * 100).to_i %>
															<% else %>
																<% raised_amount = ((enrollment.event.raised.to_f / enrollment.event.target.to_f) * 100).to_i %>
															<% end %>
																<span style="width:<%= raised_amount %>%;"><span class="card-progress"></span></span>
														<% end %>
													</div>
												</div>
											<% end %>
										</div>
									</li>
								<% elsif enrollment.event.category == "Fundraiser" %>
									<li class="event-card">
										<div class="event-card-contents">
											<%= link_to event_path(enrollment.event) do  %>
												<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path enrollment.event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
													<h4><%= enrollment.event.title %></h4>
												</div>
												<div class="card-info">
													<h5><span class="seaweed-text font-weight-bold"><%= (Date.today...enrollment.event.end_time).count %> days left</span></h5>
													<p><i class="fas fa-hand-holding-usd"></i> <%= humanized_money_with_symbol(enrollment.event.raised) %> / <%= humanized_money_with_symbol(enrollment.event.target) %></p>
													<p><i class="fas fa-signal"></i> <%= (enrollment.event.raised.to_f / enrollment.event.target.to_f * 100).to_i %>% collected</p>

													<div class="card-meter mt-2">
														<% if enrollment.event.raised.nil? %>
															<span style="width:0%;"><span class="card-progress"></span></span>
														<% else %>
															<% if enrollment.event.category == "Volunteer" %>
																<% raised_amount = ((enrollment.event.enrollments.where(status: "Approved").count.to_f / enrollment.event.target.to_f) * 100).to_i %>
															<% else %>
																<% raised_amount = ((enrollment.event.raised.to_f / enrollment.event.target.to_f) * 100).to_i %>
															<% end %>
																<span style="width:<%= raised_amount %>%;"><span class="card-progress"></span></span>
														<% end %>
													</div>
												</div>
											<% end %>
										</div>
									</li>
								<% end %>
							<% end %>
						<% else %>
							<p>None yet!</p>
						<% end %>
					</div>
				</div>
				<%# Interests etc. %>
				<%# <div class="interests"></div> %>
				<%# <div class="badges"></div> %>
				</div>
			</div>
		</div>
	</div>
</div>
