<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <h2>iru</h2>
    <% end %>
		<%# search bar that is hidden for now %>
		<%# if true %>
      <%#= form_with url: events_path, method: :get, local: true do %>
        <div class="d-flex">
          <%#= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an organization"%>
          <div class="index-submit">
            <%#= submit_tag "Search", class: "btn btn-primary" %>
          </div>
        </div>
      <%# end %>
		<%# end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown text-white">
          <div>
          <!-- Map link -->
            <i class="fas fa-search mr-2"></i>
            <i class="fas fa-bell"></i>
            <li class="nav-item active">
              <%= link_to map_path, class: "dropdown text-white" do %>
    						<i class="fas fa-map-marked-alt"></i>
    					<% end %>
            </li>
            <!-- Organization Dropdown -->

            <li class="nav-item dropdown">
    					<%= link_to "#", class: "avatar dropdown-toggle text-white", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
    						<i class="fas fa-users"></i>
    					<% end %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <% current_user.organizations.each do |organization| %>
    						<div class="dropdown-box">
                  <%= link_to organization_path(organization), class: "dropdown-item" do%>
                    <%= cl_image_tag organization.photos.first.key, height: 40, width: 40, crop: :fill %>
                    <%= organization.name %>
                  <% end %>
    						</div>
                <% end %>
              </div>
            </li>

            <li class="nav-item dropdown" id="user-avatar">
    					<%= cl_image_tag current_user.photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "My Dashboard", user_path(current_user), class: "dropdown-item" %>
                <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>

          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
