<% day_of_the_week = ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"] %>
<%# Org banner %>
<div class="org-banner" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path Organization.first.photos.second.key, height: 400, width: 1200, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
  <div class="org-banner-items">
    <%= cl_image_tag @organization.photos.first.key, height: 100, width: 100, crop: :fill, class: "org-avatar" %>
    <div class="org-banner-text ml-3">
      <h1><span class="maize-text"><%= @organization.name %> </span> since <%= @organization.establishment_year %></h1>
      <p><span class="ivory-text"><%= @organization.description %></span></p>
      <i class="fas fa-map-marker-alt icon"></i> <span class="ivory-text"><%= @organization.address %></span>
      <i class="fas fa-phone icon"></i><span class="ivory-text"><%= @organization.phone_number %></span>
      <div class="hp-links">
        <i class="fas fa-home"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram-square"></i>
      </div>
      <% if @organization.users.include?(current_user) %>
        <div class="btn btn-primary edit-btn">Edit Profile</div>
      <% end %>
    </div>
  </div>
</div>
<div class="org-sections">
  <div class="event-center"><h2>Events</h2></div>
  <div class="round-box">
    <div class="event-box">
      <% @organization.events.each do |event| %>
      <li class="event-card">
        <div class="event-card-contents">
          <div class="event-card-pic" style="background-image: url(<%= cl_image_path event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;"></div>
            <h4><%= event.title %></h4>
            <p><%= event.description %></p>
            <p>positions: <%= event.positions %> ppl</p>
            <% if event.dates.present? %>
              <p>Every <% event.dates.each do |date| %>
                  <%= day_of_the_week[date] %>
                <% end %></p>
              <p>Every <% [0, 1, 2, 3, 4, 5, 6].each do |date| %>
                <% event.dates.each do |select_date| %>
                  <% if date == select_date %>
                    <div class=""><strong><%= day_of_the_week[date] %></strong></div>
                  <% else %>
                    <div class=""><%= day_of_the_week[date] %></div>
                  <% end %>
                <% end %>
                <% end %></p>
              <p><%= event.start_time.strftime("%I:%M %p") %> - <%= event.end_time.strftime("%I:%M %p") %></p>
            <% else %>
              <p>From 👉🏻 <%= event.start_time.strftime("%d of %B, %Y - %I:%M %p") %></p>
              <p>To 👉🏻 <%= event.end_time.strftime("%d of %B, %Y - %I:%M %p") %></p>
            <% end %>
          <div class="enroll-section">
            <% if user_signed_in? %>
              <% if event.owner == current_user || current_user.admin %>
                <%= link_to "Edit", event_path(event), class: 'btn btn-primary' %>
                <%= link_to "Delete", event_path(event), class: 'btn btn-primary', method: :delete, data: { confirm: "Delete #{event.title}?" } %>
              <% end %>
              <% if event.owner != current_user || current_user.admin %>
                <button class="enroll-btn btn btn-primary" type="button">Enroll!</button>
                <div class="enroll-form">
                  <p>Select the volunteering time:</p>
                  <%= simple_form_for [event, @enrollment] do |f| %>
                    <%= f.input :start_time, as: :datetime, html5: true %>
                    <%= f.input :end_time, as: :datetime, html5: true %>
                    <%= f.button :submit, class: "btn btn-primary" %>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <%= link_to "Sign in to enroll", new_user_session_path, class: "btn btn-primary" %>
            <% end %>
          </div>

        </div>
      </li>
      <% end %>

    </div>
  </div>
</div>
