<div class="page">
	<div class="page-box" id="event-show">
		<%# Event "banner" %>
		<div class="event-title">
			<div class="event-title-details">
				<h1><%= @event.title %></h1>
				<h3>Target amount $$$</h3>
				<% if Time.now < @event.end_time %>
					<% remaining_days = ((@event.end_time - Time.now) / 360 / 60 / 24 ) %>
					<p>remaining: <%= remaining_days %> days</p>
				<% end %>
			</div>
			<div class="event-title-photo"><%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %></div>
		</div>

		<%# Tabs bar %>
		<ul class="nav nav-tabs">
			<li class="nav-item active"><a data-toggle="tab" href="#mission" class="nav-link active">Mission</a></li>
			<li class="nav-item"><a data-toggle="tab" href="#organization" class="nav-link">Organization Info</a></li>
			<li class="nav-item"><a data-toggle="tab" href="#comments" class="nav-link">Comments/Questions</a></li>
		</ul>

		<div class="tab-content">
			<%# Mission %>
			<div id="mission" class="tab-pane active">
					<div class="event-show-box">
						<div class="event-box-contents">
							<h3>Mission</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div>
					</div>
			</div>

			<%# Organization %>
			<div id="organization" class="tab-pane fade">
				<div class="event-show-box">
					<div class="event-show-organization">
						<div class="event-show-organization-details">
							<h3><%= @event.organization.name %></h3>
							<p><%= @event.organization.description %></p>
						</div>
						<%# Organizer small box %>
						<div class="organizer-details border-box">
							<div class="organizer-details-title">
								<div>
									<%= cl_image_tag @event.owner.photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
								</div>
								<div class="ml-3">
									<h4><%= @event.owner.nickname %></h4>
									<h5>Event Organizer</h5>
								</div>
							</div>
							<div class="mt-1">
								<p>Events hosted: <%= @event.owner.events_as_owner.count %></p>
								<p><%= @event.owner.description %></p>
							</div>
						</div>
					</div>

					<%# Organization's other events list %>
					<div class="other-events">
						<h3><%= @event.organization.name.capitalize %>'s other missions:</h3>
						<div class="other-events-box border-box mt-3">
							<% @event.organization.events.all.each do |event| %>
								<%= link_to event_path(event) do %>
  								<li class="ivory-card">
  									<div class="ivory-card-contents">
  										<div class="ivory-card-pic" style="background-image: url(<%= cl_image_path event.photo.key, height: 300, width: 400, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
  										</div>
  										<h5><%= event.title %> with <%= event.organization.name %></h5>
  										<% if event.description %>
  											<p><%= event.description.truncate(50, separator: ' ') %></p>
  										<% end %>
  									</div>
  								</li>
                <% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<%# Comments %>
		<div id="comments" class="tab-pane fade">
			<div class="event-show-box">
				<h3>Any comments/questions?</h3>
				<div class="event-comment-input">
					<%= simple_form_for [@event, @event_comment] do |f| %>
						<%= f.input :content, label: 'Feel free to ask anything to the organizers!' %>
						<%= f.button :submit, 'Comment', remote: true, class: "btn btn-primary btn-block" %>
					<% end %>
					<div class="event-comment">
						<% if @event.event_comments.any? %>
							<% @event.event_comments.each do |comment| %>
									<div class="flex-box p-2">
										<%= cl_image_tag comment.user.photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
										<%= comment.user.nickname %>
									</div>
									<p class='p-2'><%= comment.content%></p>
									<% if current_user == comment.user || @event.users.include?(current_user)  %>
										<%= link_to "Delete", event_comment_path(comment), class: 'btn btn-primary', method: :delete, data: { confirm: "Delete comment?" } %>
									<% end %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
