<div class="page">
	<div class="page-box">
		<%# Event "banner" %>
		<div class="event-title">
			<div class="event-title-details">
				<h1><%= @event.title %></h1>
				<h3>Target amount $$$</h3>
				<% if Time.now < @event.end_time %>
					<% remaining_days = ((@event.end_time - Time.now) / 360 / 60 / 24 ) %>
					<p>remaining: <%= remaining_days %> days</p>
				<% end %>
			</div>
			<div><%= image_tag @event.photo %></div>
		</div>

		<%# Tabs bar %>
		<ul class="nav nav-tabs">
			<li class="nav-item active"><a data-toggle="tab" href="#mission" class="nav-link active">Mission</a></li>
			<li class="nav-item"><a data-toggle="tab" href="#organization" class="nav-link">Organization Info</a></li>
			<li class="nav-item"><a data-toggle="tab" href="#comments" class="nav-link">Comments/Questions</a></li>
		</ul>

		<div class="tab-content">
			<%# Mission %>
			<div id="mission" class="tab-pane fade in active">
					<h3>Mission</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>

			<%# Organization %>
			<div id="organization" class="tab-pane fade">
				<h3>Organization</h3>
				<div>
					<p><%= @event.owner.nickname %></p>
					<p><%= @event.owner.description %></p>
					<p><%= @event.owner.events_as_owner.count %> events </p>
				</div>
			</div>

			<%# Comments %>
			<div id="comments" class="tab-pane fade">
				<h3>Any comments/questions?</h3>
				<div>
					<p>comments</p>
				</div>
			</div>
		</div>
	</div>
</div>
