
<p><%= @event.title %></p>

<div>
  <p><%= @event.owner.nickname %></p>
  <p><%= @event.owner.description %></p>
  <p><%= @event.owner.events_as_owner.count %> events </p>
</div>

<div>
  <p>target amount $$$</p>

  <% if Time.now < @event.end_time %>
    <% remaining_days = ((@event.end_time - Time.now) / 360 / 60 / 24 ) %>
    <p>remaining: <%= remaining_days %> days</p>
  <% end %>
  <p>Contributors: ...</p>
</div>

<div>
  <p>recommended</p>
</div>

<div>
      <div class="col-6">
      <%= simple_form_for [@event, @event_comment] do |f| %>
        <%= f.input :content, label: 'Comment' %>
        <%= f.button :submit, 'Comment', remote: true, class: "btn btn-primary btn-block" %>
      <% end %>
      <% if @event.event_comments.any? %>
        <% @event.event_comments.each do |comment| %>
          <div class="event-comment">
            <div class="flex-box p-2">
              <%= cl_image_tag comment.user.photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
              <%= comment.user.nickname %>
            </div>
            <p class='p-2'><%= comment.content%></p>
            <% if current_user == comment.user || @event.users.include?(current_user)  %>
              <%= link_to "Delete", event_comment_path(comment), class: 'btn btn-primary', method: :delete, data: { confirm: "Delete comment?" } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
