<div class="container">
  <div class="row py-4">



        <li class="event-card">
          <h1>Fundraiser</h1>
          <div class="event-card-contents">
            <div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path @order.event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
              <h4><%= @order.event.title %></h4>
              <p><%= @order.event.description %></p>
            </div>
          </div>
        </li>


    <div class="col">
      <h1>Donation #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
			<h2>Thank you for donating <%= humanized_money_with_symbol @order.amount %> in support of <%= link_to @order.event_title, event_path(@order.event) %>! </h2>
			<p>Your donation to <%= @order.event.organization.name %> has been confirmed today (<%= @order.created_at.to_date %>).</p>
			<%= link_to "Back", event_path(@order.event), class: "btn btn-primary" %>
    </div>

			<% if false %>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>TEDDY</strong> <%= @order.event.organization.name %> [<%= @order.event_title %>]</li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <p>Estimated delivery in <strong>2 business days</strong></p>
			
			<% end %>
			
  </div>
</div>
