<div class="page">
  <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://i.imgur.com/6clFprt.jpg')">
    <div class="home-text">
			<h1>iru</h1>
			<h2>Contribute to a cause near you</h2>
			<div class="home-button"><%= link_to "Explore your community", map_path, class: 'btn btn-primary m-3' %></div>
		</div>
  </div>
<% @organization = Organization.fourth %>
  <% @organizations = Organization.all %>



<h2>Top Organizations</h2>
  <div class='d-flex'>
    <% @organizations[4..8].each do |organization| %>
      <div class='m-1'>
        <%= cl_image_tag organization.photos.first.key, height: 100, width: 100, crop: :fill, class: "org-avatar" %>
        <p><%= organization.name %></p>
      </div>
    <% end %>
  </div>

<% @event = Event.find_by(title: "Help keep the forests clean") %>
  <% @events = Event.all %>
  <h2>Top Events</h2>
<div class='d-flex'>
    <% @events[0..2].each do |event| %>
      <div class='m-1'>
        <%= cl_image_tag event.photo.key, height: 100, width: 100, crop: :fill, class: "org-avatar" %>
        <p><%= event.title %></p>
      </div>

    <% end %>
              <%= cl_image_tag @event.photo.key, height: 100, width: 100, crop: :fill, class: "org-avatar" %>
                      <p><%= @event.title %></p>


</div>
