<div class="page">
  <div class="home-banner" >
	<%= video_tag "https://res.cloudinary.com/ensvo/video/upload/v1606358194/video_w34yol.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-banner-video" %>
	<%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://i.imgur.com/6clFprt.jpg')" %>
    <div class="home-text">
			<h1>iru</h1>
			<h2>Contribute to a cause near you</h2>
			<div>
					<%= form_with url: events_path, method: :get, local: true do %>
						<div class="d-flex">
							<%= text_field_tag :query,
							params[:query],
							class: "form-control",
							placeholder: "Find an organization"%>
							<div class="index-submit">
								<%= submit_tag "Search", class: "btn btn-primary" %>
							</div>
						</div>
					<% end %>

				<div class="home-button"><%= link_to "Explore your community", map_path, class: 'btn btn-primary m-3' %></div>
			</div>
		</div>
  </div>
<% @organization = Organization.fourth %>
  <% @organizations = Organization.all %>

<% @organizations = Organization.all.where(description: "....").uniq { |organization| organization.name } %>
<% @events = Event.all.order("id ASC").select {|event| event.organization.description == "...."} %>
<% @event = Event.first %>

<div class="page-box d-flex justify-content-around mt-4" id="home-projects">

	<div class='d-flex m-4 p-3'>
		<div class="mx-4">
			<h2>Today's Featured Project</h2>
			<%= cl_image_tag @event.photo.key, height: 380, width: 540, crop: :fill, class: "org-avatar" %>
			<div class="d-flex justify-content-between align-content-center mt-2">
				<div class="d-flex">
					<div><p><%= cl_image_tag @event.organization.photos.first.key, height: 80, width: 80, crop: :fill, class: "org-avatar-home" %></p></div>
					<div class="ml-3">
						<div><h3><%= @event.title %></h3></div>
						<div><h5><%= @event.organization.name %></h5></div>
					</div>
				</div>
				<div><p><i class="fas fa-map-marker-alt"></i> <%= @event.address %></p></div>
			</div>

			<div>
				<% if @event.raised.nil? %>
					<h3><span class="maize-text">¥0</span> out of ¥<%= @event.target %> raised</h3>
				<% else %>
					<h4><span class="maize-text"><%= humanized_money_with_symbol(@event.raised) %></span> out of <%= humanized_money_with_symbol(@event.target) %> raised</h4>
				<% end %>

				<div class="home-meter">
					<% if @event.raised.nil? %>
						<span style="width:0%;"><span class="home-progress"></span></span>
					<% else %>
						<% if @event.category == "Volunteer" %>
							<% raised_amount = ((@event.enrollments.where(status: "Approved").count.to_f / @event.target.to_f) * 100).to_i %>
						<% else %>
							<% raised_amount = ((@event.raised.to_f / @event.target.to_f) * 100).to_i %>
						<% end %>
							<span style="width:<%= raised_amount %>%;"><span class="home-progress"></span></span>
					<% end %>
				</div>
			</div>

			<div class="d-flex justify-content-between align-items-center mt-2">

			</div>
		</div>
		<div>
			<div class="mx-4">
				<h2>Recommended Projects</h2>
				<div class='recommended'>
						<%  @events[1..4].each do |event| %>
							<div class='recommended-card m-2'>
								<%= cl_image_tag event.photo.key, height: 180, width: 280, crop: :fill, class: "org-avata-home-event" %>
								<div class="recommended-line1 d-flex justify-content-between flex-grow-*">
									<div><p><%= event.title %></p></div>
									<div><p class='recommended-address'><i class="fas fa-map-marker-alt"></i> <%= event.address %></p></div>
								</div>
								<div class="recommended-line2 d-flex justify-content-between">
									<div><p class='recommended-address'><%= event.tag_list %></p></div>
								</div>
							</div>
						<% end %>
				</div>
			</div>
		</div>
	</div>


</div>

<div class="page-box-home mt-4">
  <h2 class="ml-4">Top Organizations</h2>
  <div class='page-box-home-info d-flex justify-content-between m-4'>
    <% @organizations.each do |organization| %>
      <div class='m-2'>
        <div class="top-org-logo background-image:url("<%= cl_image_path organization.photos.first.key, height: 160, width: 160, crop: :fill%>");"></div>
        <h6 class="mt-3 text-center"><%= organization.name %></h6>
      </div>
    <% end %>
  </div>
</div>
