<div class="d-flex">

  <div id="map"
       style="width: 100%; height: calc(100vh - 66px);"
       data-markers="<%= @markers[:organization].to_json %>"
       data-user="<%= @markers[:user].to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       <h2>HEADER</h2>

    <!----------------------Filter---------------------->
    <div class="map-box">
      <div class="map-form">
        <%= form_with url: map_path, method: :get, local: true do |f|%>
          <div class="d-flex">
            <%= select_tag :query,
            options_for_select(Organization::LIST, params[:query]),
            class: "form-control",
            placeholder: "filter" %>
            <div class="index-submit">
              <%= f.submit "Filter", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
      <!-----------------------Results-------------------->
      <div>
        <% @organizations.each do |organization| %>
					<%= link_to organization_path(organization) do%>
            <div class="map-form-results border-bottom pb-3">
              <h5><%=  organization.name %></h5>
  						<%#= cl_image_tag organization.photos.first.key, height: 40, width: 40, crop: :fill %>
  						<%= image_tag "#{organization.tag_number || 4}.png", class: "map-results-organization-image" %>
  						<%= organization.tag_list %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>


</div>
