<div class="d-flex">

  <div id="map"
       style="width: 100%; height: calc(100vh - 66px);"
       data-markers="<%= @markers[:organization].to_json %>"
       data-user="<%= @markers[:user].to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       <h2>HEADER</h2>

    <div class="map-box">
      <div class="map-form">
        <div>
        <%= form_with url: map_path, method: :get, local: true do |f|%>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "filter" %>
        </div>
          <div class="index-submit"><%= submit_tag "Filter", class: "btn btn-primary" %></div>
        <% end %>
      </div>

      <div>
        <% @organizations.each do |organization| %>
          <div class="map-form-results border-bottom pb-3">
						<h5><%= link_to organization.name, organization_path(organization) %></h5>
						<%= cl_image_tag organization.photos.first.key, height: 40, width: 40, crop: :fill %>
						<%= organization.tag_list %>
          </div>
        <% end %>
      </div>

    </div>
  </div>


</div>
