<% day_of_the_week = ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"] %>

<div class="page">
  <div class="page-box">
    <%# Org banner %>
    <div class="org-banner" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path @organization.photos.second.key, height: 400, width: 1200, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
      <div class="org-banner-items">
        <%= cl_image_tag @organization.photos.first.key, height: 100, width: 100, crop: :fill, class: "org-avatar" %>
        <div class="org-banner-text ml-3">
          <h1><span class="maize-text"><%= @organization.name %> </span></h1>
          <p><span class="ivory-text">Since <%= @organization.establishment_year %></span></p>
          <i class="fas fa-map-marker-alt icon"></i> <span class="ivory-text"><%= @organization.address %></span>
          <i class="fas fa-phone icon"></i><span class="ivory-text"><%= @organization.phone_number %></span>
          <div class="hp-links">
            <i class="fas fa-home"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram-square"></i>
          </div>
          <% if @organization.users.include?(current_user) %>
            <div class="btn btn-primary edit-btn">Edit Profile</div>
          <% end %>
        </div>
      </div>
    </div>
    <!---------------------Tabs bar--------------------->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="Mission-tab" data-toggle="tab" href="#Mission" role="tab" aria-controls="Mission" aria-selected="true">Mission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendar</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comments</a>
      </li>
      <% if @organization.users.include?(current_user) %>
        <li class="nav-item">
          <a class="nav-link" id="pending-volunteer-tab" data-toggle="tab" href="#pending-volunteer" role="tab" aria-controls="pending-volunteer" aria-selected="false">Pending Volunteers</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="manage-event-tab" data-toggle="tab" href="#manage-event" role="tab" aria-controls="manage-event" aria-selected="false">Manage Events</a>
        </li>
      <% end %>
    </ul>
    <!---------------------Tabs page--------------------->
    <div class="tab-content" id="myTabContent">
      <!---------------------Mission--------------------->
      <div class="tab-pane fade show active" id="mission" role="tabpanel" aria-labelledby="mission-tab">
        <div class="org-sections">
          <%= @organization.description %>
        </div>
      </div>
      <!---------------------Event tabs--------------------->
      <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
        <div class="org-sections">
          <div class="event-title">
            <h2>Events</h2>
            <% if @organization.users.include?(current_user) %>
              <%= link_to "Create a new event", new_organization_event_path(@organization), class: 'btn btn-primary' %>
            <% end %>
          </div>
          <!---------------------Volunteer Event--------------------->
          <h5>Volunteers</h5>
          <div class="round-box">
            <div class="event-box">
              <% @volunteer_events.each do |event| %>
                <li class="event-card">
                  <div class="event-card-contents">
                    <%= link_to event_path(event) do  %>
                      <div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo.key, height: 240, width: 360, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
                        <h4><%= event.title %></h4>
                      </div>
                    <% end %>
                    <div class="card-info">
                      <p><%= event.start_time.strftime("%d of %B, %Y") %></p>
                      <p><%= event.start_time.strftime("%I:%M %p")%> - <%= event.end_time.strftime("%I:%M %p")%></p>
                      <p>Volunteers: <%= event.enrollments.where(status: "Approved").count %>/<%= event.target %> people</p>
                      <div>
                        <% event.enrollments.where(status: "Approved").each do |enrollment| %>
                          <%= link_to user_path(enrollment.user) do %>
                            <%= cl_image_tag enrollment.user.photos.first.key, height: 40, width: 40, crop: :fill , class: "avatar-sm"%>
                          <% end %>
                        <% end %>
                      </div>
                      <br>
                      <div class="enroll-section">
                        <% if user_signed_in? %>
                          <!-- ------Event owner edit / delete -->
                          <% if event.owner == current_user || current_user.admin %>
                            <%= link_to "Edit", event_path(event), class: 'btn btn-primary' %>
                            <%= link_to "Delete", event_path(event), class: 'btn btn-primary', method: :delete, data: { confirm: "Delete #{event.title}?" } %>
                          <% end %>
                          <!------- Enroll --------->
                          <% if event.owner != current_user || current_user.admin %>
                            <button class="enroll-btn btn btn-primary btn-block" type="button">Enroll!</button>
                            <div class="enroll-form">
                              <p>Select the volunteering time:</p>
                              <%= simple_form_for [event, @enrollment] do |f| %>
                                <%= f.input :start_time, as: :datetime, html5: true %>
                                <%= f.input :end_time, as: :datetime, html5: true %>
                                <%= f.button :submit, class: "btn btn-primary btn-block" %>
                              <% end %>
                            </div>
                          <% end %>
                          <!------ Visitor sign in ------>
                        <% else %>
                          <%= link_to "Sign in to enroll", new_user_session_path, class: "btn btn-primary" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </div>
          </div>
          <!---------------------Donation Event--------------------->
          <h5>Donations</h5>
          <div class="round-box">
            <div class="event-box">
              <div>
                <div class="event">
                  <% @donation_events.each do |event| %>
                    <li class="event-card">
                      <div class="event-card-contents">
                        <%= link_to event_path(event) do  %>
                          <div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
                            <h4><%= event.title %></h4>
                          </div>
                        <% end %>
                        <div class="card-info">

                          <p><%= (Date.today...event.end_time).count %> days left until </p>
                          <p><%= event.end_time.strftime("%d of %B, %Y") %></p>
                          <div class="enroll-section">
                            <% if user_signed_in? %>
                              <!-- ------Event owner edit / delete -->
                              <% if event.owner == current_user || current_user.admin %>
                                <%= link_to "Edit", event_path(event), class: 'btn btn-primary' %>
                                <%= link_to "Delete", event_path(event), class: 'btn btn-primary', method: :delete, data: { confirm: "Delete #{event.title}?" } %>
                              <% end %>
                              <!------- Enroll --------->
                              <% if event.owner != current_user || current_user.admin %>
                                <button class="enroll-btn btn btn-primary btn-block" type="button">Donate!</button>
                                <div class="enroll-form">
                                  <p>How many <%= event.item %> would you like to donate?</p>
                                  <%= simple_form_for [event, @donation] do |f| %>
                                    <%= f.input :amount %>
                                    <%= f.button :submit, class: "btn btn-primary btn-block" %>
                                  <% end %>
                                </div>
                              <% end %>
                              <!------ Visitor sign in ------>
                            <% else %>
                              <%= link_to "Sign in to enroll", new_user_session_path, class: "btn btn-primary" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </li>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
          <!---------------------Fundraiser Event-------------------->
          <h5>Fundraiser</h5>
          <div class="round-box">
            <div class="event-box">
              <% @fundraiser_events.each do |event| %>
                <li class="event-card">
                  <div class="event-card-contents">
                    <div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
                      <h4><%= event.title %></h4>
                    </div>
                    <div class="card-info">
                      <p><%= humanized_money_with_symbol(event.raised) %> / <%= humanized_money_with_symbol(event.target) %></p>
                      <p>Amount: <%= humanized_money_with_symbol(event.price) %></p>

                      <!---donate form---->
                      <%= form_tag orders_path do |f| %>
                        <%= hidden_field_tag 'event_id', event.id %>
                         <%= text_field_tag :amount_cents %>

                        <%= submit_tag 'Donate', class: 'btn btn-primary' %>
                      <% end %>
                      <div class="enroll-section">
                        <% if user_signed_in? %>
                          <!-- --------------Event owner edit / delete --------------------->
                          <% if event.owner == current_user || current_user.admin %>
                            <%= link_to "Edit", event_path(event), class: 'btn btn-primary' %>
                            <%= link_to "Delete", event_path(event), class: 'btn btn-primary', method: :delete, data: { confirm: "Delete #{event.title}?" } %>
                          <% end %>
                          <!----------------------- Enroll --------------------------->
                          <% if event.owner != current_user || current_user.admin %>
                            <button class="enroll-btn btn btn-primary btn-block" type="button">Enroll!</button>
                            <div class="enroll-form">
                              <p>Select the volunteering time:</p>
                              <%= simple_form_for [event, @enrollment] do |f| %>
                                <%= f.input :start_time, as: :datetime, html5: true %>
                                <%= f.input :end_time, as: :datetime, html5: true %>
                                <%= f.button :submit, class: "btn btn-primary btn-block" %>
                              <% end %>
                            </div>
                          <% end %>
                          <!--------------------- Visitor sign in ------------->
                        <% else %>
                          <%= link_to "Sign in to enroll", new_user_session_path, class: "btn btn-primary" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!---------------------Calendar tabs--------------------->
      <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
				<div class=calendar-box>
					<%= month_calendar(events: @events) do |date, events| %>
						<span class="calendar-date"><%= date.day %></span>
						<% events.each do |event| %>
							<div class="border">
								<%= link_to event_path(event) do %>
									<button class="btn btn-block calendar-link-<%= @colors.index(event.title) %>" type="button"><%= event.title %></button>
								<% end %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>

      <!-- Owner Section -->
      <%# Pending %>
      <div class="tab-pane fade" id="pending-volunteer" role="tabpanel" aria-labelledby="pending-volunteer-tab">
        <div class="org-sections">
          <%# Pending Volunteer %>
          <div class="pending">
            <h4>Volunteer Apporval</h4>
            <% @volunteer_events.each do |event| %>
              <h4><%= event.title %></h4>
              <% if event.enrollments.empty? %>
                <p>No volunteers yet...</p>
              <% else %>
                <div class="pending-info">
                  <p><%= event.start_time.strftime("%d of %B, %Y") %></p>
                  <p><%= event.start_time.strftime("%I:%M %p")%> - <%= event.end_time.strftime("%I:%M %p")%></p>
                  <p>Volunteers: <%= event.enrollments.where(status: "Approved").count %>/<%= event.target %> people</p>
                </div>
                <% event.enrollments.each do |enrollment| %>
                  <% if enrollment.status == "Pending" %>
                    <div class="text-center p-3 pending-card">
                      <%= link_to user_path(enrollment.user) do %>

                        <%= cl_image_tag enrollment.user.photos.first.key, height: 60, width: 60, crop: :fill, class: "pending-avatar" %>
                        <%= enrollment.user.nickname %>
                      <% end %>
                      <div class="d-flex">
                        <%= simple_form_for(enrollment) do |f| %>
                          <%= f.input :status, as: :hidden, remote: true, input_html: { value: "Approved" } %>
                          <div class="m-1"><%= f.submit 'Approve', class: 'btn btn-primary'%></div>
                        <% end %>
                        <%= simple_form_for(enrollment) do |f| %>
                          <%= f.input :status, as: :hidden, remote: true, input_html: { value: "Declined" } %>
                          <div class="m-1"><%= f.submit 'Decline', class: 'btn btn-primary'%></div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <%# Pending Donation %>
          <div class="pending">
            <h4>Donation Confirmation</h4>
            <% @donation_events.each do |event| %>
              <h4><%= event.title %></h4>
              <% if event.donations.empty? %>
                <p>No volunteers yet...</p>
              <% else %>
                <% event.donations.each do |donation| %>
                  <% if donation.status == "Waiting" %>
                    <div class="text-center p-3 pending-card">
                      <%= link_to user_path(donation.user) do %>

                        <%= cl_image_tag donation.user.photos.first.key, height: 60, width: 60, crop: :fill, class: "pending-avatar" %>
                        <%= donation.user.nickname %>
                      <% end %>
                      <div class="d-flex">
                        <%= simple_form_for(donation) do |f| %>
                          <%= f.input :status, as: :hidden, remote: true, input_html: { value: "Recieved" } %>
                          <div class="m-1"><%= f.submit 'Mark it recieved', class: 'btn btn-primary'%></div>
                        <% end %>
                        <%= simple_form_for(donation) do |f| %>
                          <%= f.input :status, as: :hidden, remote: true, input_html: { value: "Declined" } %>
                          <div class="m-1"><%= f.submit 'Decline', class: 'btn btn-primary'%></div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Comment tabs -->
      <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
        <div class="org-sections">
          <h4>Comments</h4>
          <div class="col-6">
            <%= simple_form_for [@organization, @organization_comment] do |f| %>
              <%= f.input :content, label: 'Comment' %>
              <%= f.button :submit, 'Comment', remote: true, class: "btn btn-primary btn-block" %>
            <% end %>
            <% if @organization.organization_comments.any? %>
              <% @organization.organization_comments.each do |comment| %>
                <div class="organization-comment">
                  <div class="flex-box p-2">
                    <%= cl_image_tag comment.user.photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
                    <%= comment.user.nickname %>
                  </div>
                  <p class='p-2'><%= comment.content%></p>
                  <% if current_user == comment.user || @organization.users.include?(current_user)  %>
                    <%= link_to "Delete", organization_comment_path(comment), class: 'btn btn-primary', method: :delete, data: { confirm: "Delete comment?" } %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
