<% day_of_the_week = ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"] %>

<div class="page">
  <div class="page-box">
    <%# Org banner %>
    <div class="org-banner" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path @organization.photos.second.key, height: 400, width: 1200, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
      <div class="org-banner-items">
        <%= cl_image_tag @organization.photos.first.key, height: 100, width: 100, crop: :fill, class: "org-avatar" %>
        <div class="org-banner-text ml-3">
          <h1><span class="maize-text"><%= @organization.name %> </span></h1>
          <p><span class="ivory-text">Since <%= @organization.establishment_year %></span></p>
          <i class="fas fa-map-marker-alt icon"></i> <span class="ivory-text"><%= @organization.address %></span>
          <i class="fas fa-phone icon"></i><span class="ivory-text"><%= @organization.phone_number %></span>
          <div class="hp-links">
            <i class="fas fa-home"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram-square"></i>
          </div>
        </div>
      </div>
    </div>
    <!---------------------Tabs bar--------------------->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Organization Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="event" aria-selected="false">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendar</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comments</a>
      </li>
      <% if @organization.memberships.where(status: "Active").include?(Membership.find_by(organization: @organization, user: current_user)) %>
        <li class="nav-item">
          <a class="nav-link" id="pending-volunteer-tab" data-toggle="tab" href="#pending-volunteer" role="tab" aria-controls="pending-volunteer" aria-selected="false">Management</a>
        </li>
      <% end %>
    </ul>
    <!---------------------Tabs page--------------------->
    <div class="tab-content" id="myTabContent">
      <!---------------------Info--------------------->
      <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="org-sections">
          <div class="org-info">
            <div class="org-mission">
              <div class="d-flex justify-content-between">
              <h4>Our Mission</h4>
              <% if @organization.memberships.where(status: "Active").include?(Membership.find_by(organization: @organization, user: current_user)) %>
                <i class="far fa-edit"></i>
              <% end %>
              </div>
              <%= @organization.description %>
            </div>
            <div class="org-members">
              <h4>Our Members</h4>
              <% @organization.memberships.where(status: "Active").each do |membership| %>
                <div>
                  <%=  link_to user_path(membership.user) do %>
                    <%= cl_image_tag membership.user.photos.first.key, height: 40, width: 40, crop: :fill , class: "avatar-sm"%>
                  <% end %>
                  <%= membership.user.nickname %>
                </div>
              <% end %>
              <!-----------------------------------MEMBERS---------------------------->
              <% unless @organization.users.include?(current_user) %>
                <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Tell us about you</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body mx-3">
                        <div class="md-form">
                          <i class="fas fa-pencil prefix grey-text"></i>
                          <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                          <label data-error="wrong" data-success="right" for="form8">Your message</label>
                        </div>
                      </div>
                      <div class="modal-footer d-flex justify-content-center">
                        <%= simple_form_for [@organization, @membership] do |f| %>
                          <div class="no-input"><%= f.input :status %></div>
                          <%= f.submit 'Apply', remote: true, class: 'btn btn-primary' %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">
                    Join?</a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!---------------------PROJECTS--------------------->
      <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
        <div class="org-sections">

          <div class="event-title">
            <h4>Projects</h4>
            <% if @organization.users.include?(current_user) %>
              <%= link_to new_organization_event_path(@organization) do %>
                <i class="fas fa-plus"></i> project
              <% end %>
            <% end %>
          </div>
          <!---------------------Volunteer Event--------------------->
          <h5>Volunteers</h5>
          <div class="round-box">
            <div class="event-box">

              <% if @volunteer_events.empty? %>
                <p>No volunteer event yet...</p>
              <% else %>
                <% @volunteer_events.each do |event| %>

                  <li class="event-card">

                    <div class="event-card-contents">
                      <%= link_to event_path(event) do  %>
                        <div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo.key, height: 240, width: 360, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
                          <h4><%= event.title %></h4>
                        </div>
                        <div class="card-info">
                          <p><i class="far fa-calendar-alt"></i> <%= event.start_time.strftime("%d of %B, %Y") %></p>
                          <p><i class="far fa-clock"></i> <%= event.start_time.strftime("%I:%M %p")%> - <%= event.end_time.strftime("%I:%M %p")%></p>
                          <p>Volunteers: <%= event.enrollments.where(status: "Approved").count %>/<%= event.target %> people</p>
                          <div>
                            <% event.enrollments.where(status: "Approved").each do |enrollment| %>
                              <%= link_to user_path(enrollment.user) do %>
                                <%= cl_image_tag enrollment.user.photos.first.key, height: 40, width: 40, crop: :fill , class: "avatar-sm"%>
                              <% end %>
                            <% end %>
                          </div>
                          <br>
                          <!-- ------Event owner edit / delete -->
                          <% if event.owner == current_user || current_user.admin %>
                            <%= link_to "Edit", event_path(event), class: 'btn btn-primary' %>
                            <%= link_to "Delete", event_path(event), class: 'btn btn-primary', method: :delete, data: { confirm: "Delete #{event.title}?" } %>
                          <% end %>
                      </div>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </div>
          </div>
          <!---------------------Donation Event--------------------->
          <h5>Donations</h5>
          <div class="round-box">
            <div class="event-box">
              <% if @donation_events.empty? %>
                <p>No donation event yet...</p>
              <% else %>
                <div class="event">
                  <% @donation_events.each do |event| %>
                    <li class="event-card">
											<div class="event-card-contents">
												<%= link_to event_path(event) do  %>
													<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
														<h4><%= event.title %></h4>
													</div>
													<div class="card-info">
														<h5><span class="seaweed-text font-weight-bold"><%= (Date.today...event.end_time).count %> days left</span></h5>
														<p><i class="fas fa-bullseye"></i> <%= event.target %> <%= event.item %></p>
														<p><i class="fas fa-signal"></i> <%= (event.raised.to_f / event.target.to_f * 100).to_i %>% collected</p>

														<div class="card-meter mt-2">
															<% if event.raised.nil? %>
																<span style="width:0%;"><span class="card-progress"></span></span>
															<% else %>
																<% if event.category == "Volunteer" %>
																	<% raised_amount = ((event.enrollments.where(status: "Approved").count.to_f / event.target.to_f) * 100).to_i %>
																<% else %>
																	<% raised_amount = ((event.raised.to_f / event.target.to_f) * 100).to_i %>
																<% end %>
																	<span style="width:<%= raised_amount %>%;"><span class="card-progress"></span></span>
															<% end %>
														</div>
													</div>
												<% end %>
											</div>
										</li>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <!---------------------Fundraiser Event-------------------->
          <h5>Fundraiser</h5>
          <div class="round-box">
            <div class="event-box">
              <% if @fundraiser_events.empty? %>
                <p>No fundraiser event yet...</p>
              <% else %>
                <% @fundraiser_events.each do |event| %>
                  <li class="event-card">
										<div class="event-card-contents">
											<%= link_to event_path(event) do  %>
												<div class="event-card-pic" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo.key, height: 380, width: 480, crop: :fill %>); background-repeat: norepeat; background-size: cover;">
													<h4><%= event.title %></h4>
												</div>
												<div class="card-info">
													<h5><span class="seaweed-text font-weight-bold"><%= (Date.today...event.end_time).count %> days left</span></h5>
													<p><i class="fas fa-hand-holding-usd"></i> <%= humanized_money_with_symbol(event.raised) %> / <%= humanized_money_with_symbol(event.target) %></p>
													<p><i class="fas fa-signal"></i> <%= (event.raised.to_f / event.target.to_f * 100).to_i %>% collected</p>

													<div class="card-meter mt-2">
														<% if event.raised.nil? %>
															<span style="width:0%;"><span class="card-progress"></span></span>
														<% else %>
															<% if event.category == "Volunteer" %>
																<% raised_amount = ((event.enrollments.where(status: "Approved").count.to_f / event.target.to_f) * 100).to_i %>
															<% else %>
																<% raised_amount = ((event.raised.to_f / event.target.to_f) * 100).to_i %>
															<% end %>
																<span style="width:<%= raised_amount %>%;"><span class="card-progress"></span></span>
														<% end %>
													</div>
												</div>
											<% end %>
										</div>
									</li>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!---------------------Calendar tabs--------------------->
      <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <div class=calendar-box>
          <%= month_calendar(events: @events) do |date, events| %>
            <span class="calendar-date"><%= date.day %></span>
            <% events.each do |event| %>
              <div class="border">
                <%= link_to event_path(event) do %>
                  <button class="btn btn-block calendar-link-<%= @colors.index(event.title) %>" type="button"><%= event.title %></button>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <div class='calendar-add d-flex justify-content-end mr-2'><% if @organization.memberships.include?(Membership.find_by(user: current_user, organization: @organization)) %>
              <%= link_to new_organization_event_path(@organization) do %>
                <i class="fas fa-plus"></i> project
              <% end %>
        <% end %></div>
        </div>
      </div>
      <!-------------------------- Owner Section ---------------------------->
      <%# Pending %>
      <div class="tab-pane fade" id="pending-volunteer" role="tabpanel" aria-labelledby="pending-volunteer-tab">
        <div class="org-sections">
          <%# ----------------------------MANAGEMENT------------------------------ %>
          <div class="pending">

            <h4>Pending Members</h4>
            <% @organization.memberships.where(status: "Pending").each do |membership| %>
              <%= link_to user_path(membership.user) do %>
                <%= membership.user.nickname %>
                <%= cl_image_tag membership.user.photos.first.key, height: 60, width: 60, crop: :fill, class: "pending-avatar" %>
                <% end %>

              <div class="d-flex">
                <%= simple_form_for([@organization, membership], remote: true) do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: "Active" } %>
                  <div class="m-1"><%= f.button :button do %>
                    <i class="far fa-check-circle text-primary" aria-hidden="true"></i>
                  <% end %>
                  </div>
                <% end %>

                <%= simple_form_for([@organization, membership]) do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                  <div class="m-1"><%= f.button :button do %>
                    <i class="far fa-times-circle text-primary" aria-hidden="true"></i>
                  <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>

            <h4>Volunteer Apporval</h4>
            <% @volunteer_events.each do |event| %>
              <h5>- <%= event.title %></h5>
              <div class="round-box d-flex">
                <div class="pending-info">
                  <p><%= event.start_time.strftime("%d of %B, %Y") %></p>
                  <p><%= event.start_time.strftime("%I:%M %p")%> - <%= event.end_time.strftime("%I:%M %p")%></p>
                  <p>Volunteers: <%= event.enrollments.where(status: "Approved").count %>/<%= event.target %> people</p>
                </div>
                <% if event.enrollments.where(status: "Pending").empty? %>
                  <p>No volunteers yet...</p>
                <% else %>
                  <div class="d-flex">
                    <% event.enrollments.each do |enrollment| %>
                      <% if enrollment.status == "Pending" %>
                        <div class="text-center py-2 pending-card">
                          <%= link_to user_path(enrollment.user) do %>

                            <%= cl_image_tag enrollment.user.photos.first.key, height: 60, width: 60, crop: :fill, class: "pending-avatar" %>
                            <%= enrollment.user.nickname %>
                          <% end %>
                          <div class="pending-btn">
                            <%= simple_form_for(enrollment, remote: true) do |f| %>
                              <%= f.input :status, as: :hidden, input_html: { value: "Approved" } %>
                              <%= f.button :button do %>
                                <i class="far fa-check-circle text-primary"></i>
                              <% end %>
                            <% end %>
                            <%= simple_form_for(enrollment, remote: true) do |f| %>
                              <%= f.input :status, as: :hidden, input_html: { value: "Declined" } %>
                              <%= f.button :button do %>
                                <i class="far fa-times-circle text-seaweed"></i>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <%# ---------------Pending Donation ---------------%>
          <div class="pending">
            <h4>Donation Confirmation</h4>
            <% @donation_events.each do |event| %>
              <h5>- <%= event.title %></h5>
              <div class="round-box d-flex">
                <div class="pending-info">
                  <p>Donations: <%= event.donations.where(status: "Recieved").count %>/<%= event.target %> items</p>
                  <%= (Date.today...event.end_time).count %> days left</span></h3>
                  <p>until <%= event.end_time.strftime("%d of %B, %Y") %></p>
                </div>

                <div class="pending-box">
                  <% if event.donations.where(status: "Waiting").empty? %>
                    <p>No donations yet...</p>
                  <% else %>
                    <div class="d-flex">
                      <% event.donations.each do |donation| %>
                        <% if donation.status == "Waiting" %>
                          <div class="text-center py-2 pending-card">
                            <%= link_to user_path(donation.user) do %>
                              <%= cl_image_tag donation.user.photos.first.key, height: 60, width: 60, crop: :fill, class: "pending-avatar" %>
                              <%= donation.user.nickname %>
                            <% end %>
                            <div class="pending-btn">
                              <%= simple_form_for(donation, remote: true) do |f| %>
                                <%= f.input :status, as: :hidden, input_html: { value: "Received" } %>
                                <%= f.button :button do %>
                                  <i class="far fa-check-circle text-primary"></i>
                                <% end %>
                              <% end %>
                              <%= simple_form_for(donation, remote: true) do |f| %>
                                <%= f.input :status, as: :hidden, input_html: { value: "Cancelled!" } %>
                                <%= f.button :button do %>
                                  <i class="far fa-times-circle text-seaweed"></i>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

              </div>

            <% end %>
          </div>
        </div>
      </div>
      <!-------------------------- Comment tabs ------------------------>
      <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
        <div class="org-sections">
          <h4>Comments</h4>
          <div class="col-6">
            <%= simple_form_for [@organization, @organization_comment] do |f| %>
              <%= f.input :content, label: 'Comment' %>
              <%= f.button :submit, 'Comment', remote: true, class: "btn btn-primary btn-block" %>
            <% end %>
            <% if @organization.organization_comments.any? %>
              <% @organization.organization_comments.each do |comment| %>
                <div class="organization-comment">
                  <div class="flex-box p-2">
                    <%= cl_image_tag comment.user.photos.first.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
                    <%= comment.user.nickname %>
                  </div>
                  <p class='p-2'><%= comment.content%></p>

                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
